.u-section-1 {
  background-image: url("images/109a8e3ffe7aff9e15fa45df947429bd.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 754px;
}

.u-section-1 .u-image-1 {
  width: 689px;
  height: 654px;
  margin: 101px 102px 0 auto;
}

.u-section-1 .u-group-1 {
  width: 570px;
  min-height: 410px;
  margin: -653px auto 75px 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-family: titillium-Web;
  font-size: 4.5rem;
  margin: 20px 20px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: normal;
  margin: 13px 223px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-1 .u-image-1 {
    width: 652px;
    height: 565px;
    margin-top: 70px;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 470px;
    margin-top: -533px;
    margin-bottom: 123px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-1 .u-image-1 {
    width: 572px;
    height: 515px;
    margin-top: 50px;
  }

  .u-section-1 .u-group-1 {
    width: 442px;
    margin-top: -563px;
    margin-bottom: 170px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 216px;
  }

  .u-section-1 .u-image-1 {
    width: 524px;
    height: 459px;
    margin-top: 150px;
    margin-right: auto;
  }

  .u-section-1 .u-group-1 {
    width: 472px;
    margin-top: -599px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 65px;
    margin-right: 143px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 203px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1 .u-image-1 {
    height: 133px;
    width: 195px;
    margin-top: 359px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -462px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-1 .u-text-1 {
    width: NaNpx;
    margin-top: 27px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-weight: 700;
    margin-right: 3px;
  }
}.u-section-2 {
  background-image: url("images/b086440b4129deee9b7e080e211e25a7.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 1255px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 919px;
  margin: 79px auto 60px;
}

.u-section-2 .u-image-1 {
  background-image: url("images/0ebb47a4e080375e07c25b6b5a7bbcf6.png");
  min-height: 389px;
  background-position: 50% 50%;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-family: titillium-Web;
  font-size: 2.25rem;
  margin: 10px 87px 0 44px;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 70px 0 44px;
}

.u-section-2 .u-image-2 {
  width: 217px;
  height: 216px;
  margin: 0 129px 0 auto;
}

.u-section-2 .u-image-3 {
  background-image: url("images/a18f26bfaeebb534e0cd8ae11d2dbf6a.png");
  min-height: 389px;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding-right: 22px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-family: titillium-Web;
  font-size: 2.25rem;
  margin: 5px 221px 0 -111px;
}

.u-section-2 .u-text-4 {
  font-size: 1rem;
  font-weight: 700;
  margin: 15px 21px 0 72px;
}

.u-section-2 .u-image-4 {
  width: 376px;
  height: 246px;
  margin: 10px 0 0 auto;
}

.u-section-2 .u-image-5 {
  background-image: url("images/flip.png");
  min-height: 361px;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 4px;
}

.u-section-2 .u-text-5 {
  font-size: 2.25rem;
  font-weight: 700;
  font-family: titillium-Web;
  margin: 5px 88px 0 22px;
}

.u-section-2 .u-image-6 {
  width: 119px;
  height: 119px;
  margin: 9px 196px 0 130px;
}

.u-section-2 .u-text-6 {
  font-size: 1rem;
  font-weight: 700;
  margin: 15px 81px 0 15px;
}

.u-section-2 .u-image-7 {
  background-image: url("images/flip2.png");
  min-height: 361px;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 14px;
}

.u-section-2 .u-text-7 {
  font-size: 2.25rem;
  font-weight: 700;
  font-family: titillium-Web;
  margin: 8px 184px 0 144px;
}

.u-section-2 .u-image-8 {
  width: 142px;
  height: 104px;
  margin: 0 90px 0 auto;
}

.u-section-2 .u-text-8 {
  font-size: 1rem;
  font-weight: 700;
  margin: 26px 51px 0 124px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    min-height: 398px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    color: rgba(244, 183, 0, 0.85) !important;
  }

  .u-section-2 .u-text-2 {
    position: relative;
  }

  .u-section-2 .u-image-3 {
    min-height: 398px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 18px;
  }

  .u-section-2 .u-text-3 {
    position: relative;
  }

  .u-section-2 .u-text-4 {
    position: relative;
  }

  .u-section-2 .u-image-5 {
    min-height: 369px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 18px;
  }

  .u-section-2 .u-text-5 {
    position: relative;
  }

  .u-section-2 .u-image-6 {
    margin-right: 194px;
    margin-left: 128px;
  }

  .u-section-2 .u-text-6 {
    position: relative;
  }

  .u-section-2 .u-image-7 {
    min-height: 369px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 12px;
  }

  .u-section-2 .u-text-7 {
    position: relative;
  }

  .u-section-2 .u-image-8 {
    height: 105px;
  }

  .u-section-2 .u-text-8 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 595px;
  }

  .u-section-2 .u-image-1 {
    min-height: 305px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 32px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 15px;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    min-height: 305px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 14px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 171px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-4 {
    width: 328px;
    height: 215px;
  }

  .u-section-2 .u-image-5 {
    min-height: 283px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 14px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 11px;
    margin-left: 0;
  }

  .u-section-2 .u-image-6 {
    margin-right: 145px;
    margin-left: 79px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-7 {
    min-height: 283px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 14px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 134px;
    margin-left: 94px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 1px;
    margin-left: 74px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1566px;
  }

  .u-section-2 .u-image-1 {
    min-height: 458px;
  }

  .u-section-2 .u-image-3 {
    min-height: 458px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-2 .u-image-5 {
    min-height: 425px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 4px;
  }

  .u-section-2 .u-image-7 {
    min-height: 425px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 17px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1026px;
  }

  .u-section-2 .u-image-1 {
    min-height: 374px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-right: -10px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: -10px;
    margin-left: 10px;
  }

  .u-section-2 .u-image-2 {
    margin-right: auto;
    margin-left: 45px;
  }

  .u-section-2 .u-image-3 {
    min-height: 343px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 6px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
    width: auto;
    margin-right: 15px;
    margin-left: -15px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-right: 8px;
    margin-left: -8px;
  }

  .u-section-2 .u-image-5 {
    min-height: 321px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
    width: auto;
    margin-right: -6px;
    margin-left: 10px;
  }

  .u-section-2 .u-image-6 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 0;
    margin-right: 4px;
  }

  .u-section-2 .u-image-7 {
    min-height: 332px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 11px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 10px;
    margin-right: -207px;
    margin-left: 235px;
  }

  .u-section-2 .u-image-8 {
    margin-top: 13px;
    margin-right: auto;
    margin-left: 88px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 23px;
    margin-left: 9px;
    margin-right: 9px;
  }
}.u-section-3 {
  background-image: url("images/116f96233f7efcb5870e90907f78e788.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 479px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 58px;
  margin-bottom: 20px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 421px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: titillium-Web;
  width: 401px;
  margin: 43px auto 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 43px 115px 0 auto;
  padding: 25px 78px 26px;
}

.u-section-3 .u-image-1 {
  min-height: 324px;
  background-image: url("images/16008711.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 435px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 45px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 414px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 15px;
  }

  .u-section-3 .u-image-1 {
    min-height: 340px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 50px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 390px;
  }

  .u-section-3 .u-text-1 {
    width: 350px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 374px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 830px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 1px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 453px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }
}